<nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand" href="#">
        <h2 class="text-light"> Hi Budyy <img src="../../assets/chat.png" width="45" height="40" alt=""></h2>
    </a><h5 style="float: right;" class="text-info"> Hi , <span class="text-warning">{{name}}</span></h5><span> <button class="btn btn-danger" (click)="logout()">LogOut</button></span>
</nav>
        <div style="margin: 1%;" class="row">
           <div class="col-md-4 jumbotron" style="height: 600px;">
            
            <div class="bg-dark">
            <h3 class="text-success" style="text-align: left;">Active Users</h3>
            </div>
            <div>
                <ul>
                    <li *ngFor="let x of data"><a class="text-danger" (click)="chat(x.name)">{{x.name}}</a></li>
               </ul>
             </div>
           </div>
           <div class="col-md-8">
               <div style="height: 420px;">
                <p style="text-align: right;">{{text}}</p>
               </div>
               <div class="row col-md-12">
               <div class="col-md-9">
                    <input type="text" class="form-control" [(ngModel)]="text">
                </div> 
                <div class="col-md-3">
                  <button class="btn btn-primary" >Send</button>
                </div>                 
               </div>
           </div>
        </div>